section {
  padding: 0.5rem;
}

.homeCard {
  padding-bottom: 2rem;
}

.CardFavorites {
  padding-bottom: 2rem;
}

.cardGallery {
  padding-bottom: 2rem;
  .product-image {
    min-height: 30rem;
    max-height: 15rem;
    object-fit: cover;
  }
}
.precio {
  font-size: 1.3rem;
  font-weight: 500;
}
.product-image {
  min-height: 15rem;
  max-height: 15rem;
  object-fit: cover;
}

.modal-image {
  max-width: 100%;
  min-width: 100%;
  object-fit: contain;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-around;
}
#btn-detalles {
  background-color: #ffffff;
  border-color: #000000;
  color: #000000;
}
#btn-detalles:hover {
  background-color: #eabe3f;
  border-color: #000000;
  color: #ffffff;
}
#btn-favorite {
  background-color: #ffffff;
  border-color: #000000;
  color: #000000;
}
#btn-favorite:hover {
  background-color: #eabe3f;
  border-color: #000000;
  color: #ffffff;
}
.favorite-heart {
  color: red;
}

.product-image-fav {
  min-height: 30rem;
  max-height: 30rem;
  object-fit: cover;
}

.btnAdmin {
  display: flex;
  flex-direction: column;
}
