#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 100vh;
  text-align: center;
}

.logo {
  padding: 0.3rem;
}

.container {
  min-height: 100vh;
  min-width: 100%;
}

.header {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 20px;
}

.header h1 {
  margin: 0;
}

.header nav ul {
  list-style: none;
  padding: 0;
}

.header nav ul li {
  display: inline;
  margin-right: 10px;
}

.content {
  display: flex;
  flex: 1;
}

.sidebar {
  background-color: #ffffff;
  padding: 20px;
  width: 15%;
  min-width: 11rem;
  border-right: solid;
  border-right-color: #eabf3fb1;
  min-height: 100vh;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.main-content {
  padding: 20px;
  flex: 1;
}

.footer {
  background-color: white;
  color: black;
  padding: 20px;
  text-align: center;
  width: 100%;
  margin-top: 10px;
  border-top: solid;
  border-top-color: #eabf3fb1;
}

.footer p {
  margin: 0;
}

/* Estilos para los enlaces */
.link {
  color: #000;
  text-decoration: none;
}
.link:hover {
  color: #eabe3f;
  text-decoration: underline;
}

.navLink {
  color: #000;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.navLink:hover {
  color: #eabe3f;
  text-decoration: underline;
}

.active {
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: none;
}
.noActive {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.social-links .fab.fa-instagram {

  font-size: 2em; 
  color: #000;
  font-size: 2em;

}
.social-text {
  color: black;
}

.login {
  margin: auto;
  border: solid;
  border-color: #eabf3fb1;
  border-radius: 10px;
  padding: 20px;
  max-width: 25rem;
  width: 90%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#btnEnviar {
  background-color: #ffffff;
}
#btnEnviar:hover {
  background-color: #eabe3f;
  color: #ffffff;
  font-weight: bold;
}

.login .btn {
  text-align: center;
}

.register {
  margin: auto;
  border: solid;
  border-color: #eabf3fb1;
  border-radius: 10px;
  padding: 20px;
  max-width: 25rem;
  width: 90%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.createPublication {
  margin: auto;
  border: solid;
  border-color: #eabf3fb1;
  border-radius: 10px;
  padding: 20px;
  max-width: 25rem;
  width: 90%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
