#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 100vh;
  text-align: center;
}

.logo {
  padding: 0.3rem;
}

.container {
  min-height: 100vh;
  min-width: 100%;
}

.header {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 20px;
}

.header h1 {
  margin: 0;
}

.header nav ul {
  list-style: none;
  padding: 0;
}

.header nav ul li {
  display: inline;
  margin-right: 10px;
}

.content {
  display: flex;
  flex: 1;
}

.sidebar {
  background-color: #ffffff;
  padding: 20px;
  width: 15%;
  min-width: 11rem;
  border-right: solid;
  border-right-color: #eabf3fb1;
  min-height: 100vh;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar h2 {
  font-size: 20px;
  margin-bottom: 15px;
}
.sidebar input {
  width: 100%;
  padding: 10px;
  border: 2px solid #eabe3f;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
}

@media (max-width: 767.98px) {
  .sidebar {
    padding: 10px;
  }

  .sidebar h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .sidebar input {
    padding: 8px;
  }
}

.main-content {
  padding: 20px;
  flex: 1;
}

.footer {
  background-color: white;
  color: black;
  padding: 0.5rem;
  text-align: center;
  width: 100%;
  border-top: solid;
  border-top-color: #eabf3fb1;
}

.footer p {
  margin: 0;
}

/* Estilos para los enlaces */
.link {
  color: #000;
  text-decoration: none;
}
.link:hover {
  color: #eabe3f;
  text-decoration: underline;
}

.navLink {
  color: #000;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.navLink:hover {
  color: #eabe3f;
  text-decoration: underline;
}

.active {
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: none;
}
.noActive {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.social-links .fab.fa-instagram {
  font-size: 2em;
  color: #000;
  font-size: 2em;
}
.social-text {
  color: black;
}

.login {
  margin: auto;
  border: solid;
  border-color: #eabf3fb1;
  border-radius: 10px;
  padding: 20px;
  max-width: 25rem;
  width: 90%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#btnEnviar {
  background-color: #ffffff;
}
#btnEnviar:hover {
  background-color: #eabe3f;
  color: #ffffff;
  font-weight: bold;
}

#btnGuardar {
  background-color: #ffffff;
  border-color: #000000;
  color: #000000;
}
#btnGuardar:hover {
  background-color: #eabe3f;
  border-color: #000000;
  color: #ffffff;
}

#btnCancelar {
  background-color: #ffffff;
  border-color: #000000;
  color: #000000;
}
#btnCancelar:hover {
  background-color: #eabe3f;
  border-color: #000000;
  color: #ffffff;
}
.login .btn {
  text-align: center;
}
.google-login-button {
  background-color: #ffffff;
  border-radius: 20rem;
}
.google-login-button:hover {
  background-color: #eabe3f;
  color: #ffffff;
}

.register {
  margin: auto;
  border: solid;
  border-color: #eabf3fb1;
  border-radius: 10px;
  padding: 20px;
  max-width: 25rem;
  width: 90%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.createPublication {
  margin: auto;
  border: solid;
  border-color: #eabf3fb1;
  border-radius: 10px;
  padding: 20px;
  max-width: 25rem;
  width: 90%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.modal {
  text-align: center;
}
